USE [master]
GO
/****** Object:  Database [EgyptianDB]    Script Date: 10.12.2021 23:56:43 ******/
CREATE DATABASE [EgyptianDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EgyptianDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EgyptianDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EgyptianDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EgyptianDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EgyptianDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EgyptianDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[Categoria] [varchar](5) NOT NULL,
	[Amount] [smallint] NULL,
	[Name] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Categoria_ru] PRIMARY KEY CLUSTERED 
(
	[Categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nchar](1) NULL,
	[Avatar] [nvarchar](2) NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dictionary]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[Glyph] [nvarchar](10) NULL,
	[Unicode] [nvarchar](25) NULL,
	[Categoria] [varchar](5) NOT NULL,
	[GardinerCode] [varchar](25) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Phonogram] [nvarchar](255) NULL,
	[Transliteration] [nvarchar](255) NULL,
	[Notes] [nvarchar](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[God]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[God](
	[Name] [nvarchar](50) NOT NULL,
	[GardinerCode] [varchar](50) NULL,
	[Hieroglyphic] [nvarchar](50) NULL,
	[Transliteration] [nvarchar](50) NULL,
	[Type] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[View] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharaoh]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharaoh](
	[Name] [nvarchar](255) NOT NULL,
	[BirthName] [nvarchar](255) NULL,
	[BirthDescription] [nvarchar](255) NULL,
	[ThroneName] [nvarchar](255) NULL,
	[ThroneDescription] [nvarchar](255) NULL,
	[Dynasty] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phonogram]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phonogram](
	[Glyph] [nvarchar](10) NOT NULL,
	[GardinerCode] [varchar](25) NOT NULL,
	[Transliteration] [nvarchar](25) NOT NULL,
	[ManuelCotage] [varchar](10) NULL,
	[Type] [varchar](25) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translation]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translation](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[ClientId] [tinyint] NOT NULL,
	[TranslatorId] [tinyint] NULL,
	[OriginalText] [nvarchar](255) NOT NULL,
	[Task] [nvarchar](255) NULL,
	[Result] [nvarchar](255) NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translator]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translator](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Gender] [nchar](1) NULL,
	[Education] [nvarchar](255) NULL,
	[Experience] [nvarchar](50) NULL,
	[Avatar] [nvarchar](2) NULL,
 CONSTRAINT [PK_Translator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10.12.2021 23:56:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Login] [varchar](20) NOT NULL,
	[Password] [varchar](8) NOT NULL,
	[RoleId] [tinyint] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categoria] ([Categoria], [Amount], [Name]) VALUES (N'A', 58, N'мужчина и его занятия')
INSERT [dbo].[Categoria] ([Categoria], [Amount], [Name]) VALUES (N'Aa', 31, N'не поддающиеся классификации')
INSERT [dbo].[Categoria] ([Categoria], [Amount], [Name]) VALUES (N'B', 77, N'женщина и её занятия')
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [Login], [Name], [Gender], [Avatar]) VALUES (22, N'client', N'Свинка', N'ж', N'𓁒')
INSERT [dbo].[Client] ([Id], [Login], [Name], [Gender], [Avatar]) VALUES (23, N'а', N'а', N'м', N'𓁛')
INSERT [dbo].[Client] ([Id], [Login], [Name], [Gender], [Avatar]) VALUES (24, N'anya', N'Аня', N'ж', N'𓇼')
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
INSERT [dbo].[Dictionary] ([Glyph], [Unicode], [Categoria], [GardinerCode], [Description], [Phonogram], [Transliteration], [Notes]) VALUES (N'𓀀', N'U+13000', N'A', N'A1', N'сидящий мужчина (часто используется в комбинации с B1 и Z2, примеры: идеограмма в rmT - люди/народ детерминатив в aAmw - азиаты)', N'j, kw/kj (в mестоиmениях-суффиксах 1-gо лица един. числа)', N'я (j), мужчина/человек, (s, редко - sj[~ 1]), компаньон (rHw)', N'Обычно помещается после имени и понятий, чтобы указать мужской пол названного лица, а также в местоимениях-суффиксах 1-го лица ед. числа. (wj, jnk - я, sA - сын)')
INSERT [dbo].[Dictionary] ([Glyph], [Unicode], [Categoria], [GardinerCode], [Description], [Phonogram], [Transliteration], [Notes]) VALUES (N'𓀁', N'U+13001', N'A', N'A2', N'сидящий с рукой у рта мужчина (аналогичные варианты - иероглифы A68 и A84)', N'…, …,
(редко - k', N'есть ( wnm )', N'Действия, связанные со ртом, головой или идеями')
INSERT [dbo].[Dictionary] ([Glyph], [Unicode], [Categoria], [GardinerCode], [Description], [Phonogram], [Transliteration], [Notes]) VALUES (N'𓀂', N'U+13002', N'A', N'A3', N'сидящий на пятках мужчина (в иератике заменялся на иероглифы A17, A17A, B4)', NULL, N'сидеть ( ḥmsi )', NULL)
GO
INSERT [dbo].[God] ([Name], [GardinerCode], [Hieroglyphic], [Transliteration], [Type], [Description], [View]) VALUES (N'Акер (множ.ч. —Акеру, Рути)', N'G1-V31-D21-A40', N'𓄿𓎡𓂋𓀭', N'ȝkr (земля)', N'хтоническое божество + погребальный культ', N'1) Бог земли 2) Покровитель мёртвых, страж ворот в дуат, страж восхода и заката солнца 3) помощник Ра в борьбе с Апопом 4) Бог-защитник людей.', N'1) два льва (иногда сфинкса), сидящие спинами друг к другу и смотрящие на восток и запад, между ними — знаки горизонта и солнца (т. н. образ «Рути») 2) узкая полоса земли с головами людей (или львов) на конце')
INSERT [dbo].[God] ([Name], [GardinerCode], [Hieroglyphic], [Transliteration], [Type], [Description], [View]) VALUES (N'Амт', N'D36-G17-F10-Z2-X1-A24', N'𓂝𓅓𓄈𓏥𓏏𓀜', N' ꜥm-mwt (пожирательница)', N'чудовище', N'Обитало в Дуате, в огненном озере, и пожирало грешников, не прошедших испытание судом Осириса.', N'чудовище с туловищем и передними ногами львицы, задними ногами бегемота (иногда львицы) и головой крокодила (иногда собаки)')
INSERT [dbo].[God] ([Name], [GardinerCode], [Hieroglyphic], [Transliteration], [Type], [Description], [View]) VALUES (N'Амаунет', N'M17-Y5-N35-X1', N'𓇋𓏠𓈖𓏏', N'jmn.t (сокрытая)', N'космогоническое божество', N'1) Абстрактная Богиня-демиург, её мужская ипостась — Амон, вместе с ним отождествляла стихийное первоначало — «сокрытое», «невидимое» («Великая Восьмёрка») 2) Позже как супруга Амона.', N'женщина с головой змеи (иногда в человеческом обличии)')
GO
INSERT [dbo].[Pharaoh] ([Name], [BirthName], [BirthDescription], [ThroneName], [ThroneDescription], [Dynasty]) VALUES (N'Tutankhamun', N'twt-Ꜥnḫ-imn', N'The living image of Amun', N'nb-ḫprw-rꜤ', N'Lord of the forms of Ra', N'XVIII')
INSERT [dbo].[Pharaoh] ([Name], [BirthName], [BirthDescription], [ThroneName], [ThroneDescription], [Dynasty]) VALUES (N'Ramesses II', N'rꜤ-msi-sw mri-imn', N'Ramesses (Ra has fashioned him), beloved of Amun', N'wsr-mꜢꜤt-rꜤ stp.n-rꜤ', N'The justice of Ra is powerful, chosen of Ra', N'XIX')
INSERT [dbo].[Pharaoh] ([Name], [BirthName], [BirthDescription], [ThroneName], [ThroneDescription], [Dynasty]) VALUES (N'Thutmose III', N'ḏḥwti-msi(w)', N'Thoth is born', N'mn-ḫpr-rꜤ', N'Lasting is the Manifestation of Ra', N'XVIII')
GO
INSERT [dbo].[Phonogram] ([Glyph], [GardinerCode], [Transliteration], [ManuelCotage], [Type]) VALUES (N'𓄿', N'G1', N'3', N'A', N'alphabet')
INSERT [dbo].[Phonogram] ([Glyph], [GardinerCode], [Transliteration], [ManuelCotage], [Type]) VALUES (N'𓇋', N'M17', N'i, j', N'i', N'alphabet')
INSERT [dbo].[Phonogram] ([Glyph], [GardinerCode], [Transliteration], [ManuelCotage], [Type]) VALUES (N'𓏭', N'Z4', N'y', N'y', N'alphabet')
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Заказчик')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Переводчик')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Translation] ON 

INSERT [dbo].[Translation] ([Id], [ClientId], [TranslatorId], [OriginalText], [Task], [Result]) VALUES (14, 22, 6, N'Бастет', N'Написать иероглифами', N'𓎯𓏏𓏏')
INSERT [dbo].[Translation] ([Id], [ClientId], [TranslatorId], [OriginalText], [Task], [Result]) VALUES (15, 22, 6, N'𓁖', N'Написать код Гардинера', N'B6')
INSERT [dbo].[Translation] ([Id], [ClientId], [TranslatorId], [OriginalText], [Task], [Result]) VALUES (16, 22, 7, N'M17-V28-M17-M17', N'Написать транслитерацию', NULL)
SET IDENTITY_INSERT [dbo].[Translation] OFF
GO
SET IDENTITY_INSERT [dbo].[Translator] ON 

INSERT [dbo].[Translator] ([Id], [Login], [Name], [Gender], [Education], [Experience], [Avatar]) VALUES (6, N'trans', N'Крутяшкин', N'м', N'СПбКТ', N'1 месяц', N'𓁛')
INSERT [dbo].[Translator] ([Id], [Login], [Name], [Gender], [Education], [Experience], [Avatar]) VALUES (7, N'trans1', N'Хто я', N'ж', N'ПТУ', N'2 года', N'𓁛')
INSERT [dbo].[Translator] ([Id], [Login], [Name], [Gender], [Education], [Experience], [Avatar]) VALUES (8, N'anya71034', N'Анна', N'ж', N'СПбКТ', N'5 лет', N'𓁗')
SET IDENTITY_INSERT [dbo].[Translator] OFF
GO
INSERT [dbo].[User] ([Login], [Password], [RoleId]) VALUES (N'anya', N'1234', 1)
INSERT [dbo].[User] ([Login], [Password], [RoleId]) VALUES (N'anya71034', N'1234', 2)
INSERT [dbo].[User] ([Login], [Password], [RoleId]) VALUES (N'client', N'client', 1)
GO
ALTER TABLE [dbo].[Client]  WITH CHECK ADD  CONSTRAINT [FK_Client_User] FOREIGN KEY([Login])
REFERENCES [dbo].[User] ([Login])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Client] CHECK CONSTRAINT [FK_Client_User]
GO
ALTER TABLE [dbo].[Dictionary]  WITH CHECK ADD  CONSTRAINT [FK_Dictionary_ru_Categoria_ru] FOREIGN KEY([Categoria])
REFERENCES [dbo].[Categoria] ([Categoria])
GO
ALTER TABLE [dbo].[Dictionary] CHECK CONSTRAINT [FK_Dictionary_ru_Categoria_ru]
GO
ALTER TABLE [dbo].[Translation]  WITH CHECK ADD  CONSTRAINT [FK_Task_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
GO
ALTER TABLE [dbo].[Translation] CHECK CONSTRAINT [FK_Task_Client]
GO
ALTER TABLE [dbo].[Translation]  WITH CHECK ADD  CONSTRAINT [FK_Task_Translator] FOREIGN KEY([TranslatorId])
REFERENCES [dbo].[Translator] ([Id])
GO
ALTER TABLE [dbo].[Translation] CHECK CONSTRAINT [FK_Task_Translator]
GO
ALTER TABLE [dbo].[Translator]  WITH CHECK ADD  CONSTRAINT [FK_Translator_User] FOREIGN KEY([Login])
REFERENCES [dbo].[User] ([Login])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Translator] CHECK CONSTRAINT [FK_Translator_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
